body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

.container {
  padding: 10px;
  margin: 10px;
  border: 1px solid black;
}


.svg-container {

  padding: 10px;
  margin: 10px;
  border: 1px solid black;

  height: 400px;
  width: 1000px;


}