body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background: #555;
  color: #eee;
}

.container {
  padding: 10px;
  margin: 10px;
  border: 1px solid white;
}


.svg-container {
  padding: 10px;
  margin: 20px auto;
  border: 1px solid white;
  height: 400px;
  width: 1000px;
  float: right;
}

.controls-container {
  padding: 10px;
  margin: 20px auto;
  border: 1px solid white;
  height: 400px;
  width: 250px;
  float: left;
}

.rect {
  fill: #ccc;
  stroke-width: 1px;
  stroke: gray;
}

.circ {
  fill: #ccc;
  stroke-width: 1px;
  stroke: black;
}

.input-container {
  display: inline-block;
  /*padding: 4px; */
  /*margin: 10px; */

}
.title-container {
  display: inline-block;
  /*padding: 4px; */
  /*margin: 10px; */
}

.header-container {
  border: 1px solid white;
  padding: 10px 0px;
  /*margin: 10px auto;*/
  font-size: 20px;
}

.header-container div {
  margin-left: 30px;
}

#input {
  padding: 10px;
  width: 500px;
  border-radius: 20px;;
  outline: 0;
  font-size: 12px;
  /*font-weight: 100;*/
}

#submit {
  padding: 10px;
  border-radius: 20px;
  outline: 0;
}


#song-title {
  font-size: 24px;
  float: right;
  padding: 10px;
  margin-right: 60px;
  color: white;
}

#circleButton {
  display: inline-block;
  border-radius: 50%;
  width: 100px;
  height: 100px; 
  border: 1px solid white;
  background: #444;
  margin: 10px auto;
}
#rectButton {
  display: inline-block;
  margin: 10px auto;
  width: 100px;
  height: 100px;
  border: 1px solid white;
  background: #444;
}
