body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  /*background: #414040;*/
  background-color: #303030;
  background-color: white;
  color: #E1DEE2;
}

.container {
  /*padding: 0px 10px;*/
  /*margin: 0px auto;*/
  /*border: 1px solid white;*/
}

.svg-container {
  /*padding: 20px;*/
  /*margin: 10px auto 20px auto;*/
  margin: 0px auto;
  /*height: 600px;*/
  /*width: 1500px;*/
  /*width: 1300;*/
  /*float: right;*/
  /*border: 1px solid #5A5959;*/
  border-radius: 4px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
}

.controls-container {
  /*padding: 10px;*/
  /*margin: 20px auto;*/
  padding: 0px 0px 0px 20px;
  margin: 10px 0px 0px 0px;
  /*border: 1px solid white;*/
  /*height: 400px;*/
  /*width: 250px;*/
  /*float: left;*/
  /*border: 1px solid #5A5959;*/
  border-radius: 4px;
  display: inline-block;
  float: left;
}

.rect {
  fill: #ccc;
  /*stroke-width: 1px;*/
  /*stroke: #ddd;*/
  /*display: inline-block;*/
}

.circ {
  fill: #ccc;
  stroke-width: 1px;
  stroke: #222;
  /*display: inline-block;*/
}

.input-container {
  display: inline-block;
  /*padding: 4px; */
  margin-top: 12px;
  float: left;

}
.title-container {
  display: inline-block;
  /*padding: 4px; */
  /*margin: 10px; */
  font-family: sans-serif;
  color: #FBA710;
  font-size: 30px;
  font-weight: 400;
  margin-top: 2px;
  letter-spacing: -3px;
  float: left;
}

#audio-title {
  font-size: 24px;
}

#visualizer-title {
  font-size: 40px;
}

.header-container {
  /*border: 1px solid white;*/
  /*padding: 14px 10px 20px 10px;*/
  padding: 6px;
  margin: 0px auto;
  font-size: 24px;
  background-color: rgba(255,255,255,0.9);
  /*background-color: transparent;*/
  border-bottom: 1px solid #ddd;
  /*float: left;*/
  height: 75px;
}

.header-container div {
  margin-left: 12px;
  margin-right: 12px;
}

#input {
  padding: 14px;
  width: 300px;
  border-radius: 21px;
  border: 1px solid #bbb;
  outline: 0;
  font-size: 12px;
  /*font-weight: 100;*/
  opacity: 0.7;
  transition: all 0.1s ease-in-out;
  color: #666;
}

#input:focus {
  opacity: 0.9;
  background-color: #eee;
}

#submit {
  padding: 15px;
  border-radius: 20px;
  outline: 0;
  border: 0;
  transition: all 0.08s ease-in-out;
  color: #555;
  cursor: pointer;
  font-size: 11px;
  line-height: 1.5em;
  background-color: #ccc;
}

#submit:hover {
  background-color: #ddd;
}

#submit:active {
  background-color: #efefef;
}

#song-title-container {
  /*float: right;*/
  /*padding: 6px;*/
  margin-top: 10px;
  margin-right: 30px;
  display: inline-block;
  color: white;
  float: right;
}

#song-title {
  font-size: 24px;
  color: #FBA710;
}

#now-playing {
  /*margin-top: 20px;*/
  font-size: 12px;
  margin-bottom: 6px;
  color: #aaa;
}

#circleButton {
  display: inline-block;
  border-radius: 50%;
  width: 50px;
  height: 50px; 
  /*border: 1px solid #aaa;*/
  background: #ccc;
  /*margin: 10px auto;*/
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  /*margin-bottom: 16px;*/
  /*margin-top: 10px;*/
}

#circleButton2 {
  display: inline-block;
  border-radius: 50%;
  width: 50px;
  height: 50px; 
  border: 1px solid #ddd;
  /*background: #ccc;*/
  background: white;
  /*margin: 10px auto;*/
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  /*margin-bottom: 16px;*/
  /*margin-top: 10px;*/
}

#rectButton {
  display: inline-block;
  /*margin: 10px auto;*/
  width: 50px;
  height: 50px;
  /*border: 1px solid #aaa;*/
  background: #ccc;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  /*margin-bottom: 16px;*/
}

#polyButton {
  display: inline-block;
/*  width: 50px;
  height: 50px;
  border: 1px solid #aaa;
*/  
  /*background: black;*/
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  width: 0; 
  height: 0; 
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 50px solid #ccc;
  /*border: 1px solid black;*/
}

#polyButton:hover {
 border-bottom: 50px solid #333; 
}

#polyButton:active {
 border-bottom: 50px solid #ccc;
}

#rectButton:hover, #circleButton:hover, #circleButton2:hover {
  background: #333;
}
#rectButton:active, #circleButton:active, #circleButton2:active {
  background: #ccc;
}
*:focus {
    outline: 0;
}
